<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div class="addDorm">
    <h4 align="center">add dorm</h4>
    <form action="/dormInsert" method="GET">
        <div style="text-align:center;">location:<input type="text" name="location"><br></div>
        <div style="text-align:center;"><input type="submit" value="confirm"></div>
    </form>
</div>
<p align="center" th:text="${message}" />
<form action="/home" method="GET">
    <div style="text-align:center;"><input type="submit" value="back to home"></div>
</form>
</body>
</html>