<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="index.css">
</head>

<div style="text-align:center;"><h4>homepage</h4></div>
<body>
<form action="/userInsertPage" method="GET">
    <div style="text-align:center;"><input type="submit" value="addUser"></div>
</form>
<form action="/dormInsertPage" method="GET">
    <div style="text-align:center;"><input type="submit" value="addDorm"></div>
</form>
<form action="/managePage" method="GET">
    <div style="text-align:center;"><input type="submit" value="assgnDorm"></div>
</form>
<form action="/dormShow" method="GET">
    <div style="text-align:center;"><input type="submit" value="showDorm"></div>
</form>
<form action="/userShow" method="GET">
    <div style="text-align:center;"><input type="submit" value="showUser"></div>
</form>
</body>
</html>